/nbproject/private
/nbproject/
/manifest.mf
/build.xml
/vpproject/
/Projecten II/nbproject/private/
/Projecten II/build/
/Projecten II/dist/
/Projecten II/build.xml
/Projecten II/manifest.mf
/Projecten II/nbproject/