/nbproject/private
/nbproject/
/manifest.mf
/build.xml
/vpproject/
/Projecten II/nbproject/private/
/Projecten II/build/
/Projecten II/dist/
/Projecten II/build.xml
/Projecten II/manifest.mf
/Projecten II/nbproject/
/G19/nbproject/private/
/G19/build/
/G19/dist/
/G19/nbproject/
/ProjectenII/nbproject/private/
/G19/build.xml
/G19/manifest.mf
/G19/vpproject/G19.vpp~2
/G19/vpproject/G19.vpp~3